:root {
    --color-primario: #041B2D;
    --color-secundario: grey;
  }

  @font-face {
    font-family: 'Blinker'; /* El nombre que deseas darle a tu fuente */
    src: url('/Assets/Fonts/Blinker/Blinker-Regular.ttf') format('truetype'); /* La ruta relativa a tu archivo CSS donde está la fuente */
  }

  @font-face {
    font-family: 'Inter'; /* El nombre que deseas darle a tu fuente */
    src: url('/Assets/Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf') format('truetype'); /* La ruta relativa a tu archivo CSS donde está la fuente */
  }


body
{
    font-family: "Blinker", sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

.main   
{
    margin-top: 43px;
    padding: 30px;
}

header {

    height: 80px;

  }

.Titulos
{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Titulos__BtnVolver
{
    width: 33.33%;
    text-align: left;
}

.btn-volver{
    font-family: 'Blinker'; 
}

.Titulos__Titulo
{
    width: 33.33%;
    text-align: center;
}

.Titulos__Modelo{
    width: 33.33%;
    text-align: center;
    display: flex;
    justify-content: center;
}



.Titulos__Modelo__Modelo
{
    margin-left: 6px;
    color: var(--color-secundario);
}

.Titulos__Titulo__Text
{
    color: #17a2b8;;
}


.Planes
{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Planes__Plan
{
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.Planes__Plan:hover
{
    box-shadow: 0px 0px 10px rgb(27, 21, 78);
}

.Planes__Plan__Precio{
    margin-bottom: 40px;
}

.Planes__Plan__Contratar{
    margin-bottom: 40px;
}

.Planes__Plan__Coberturas{
    text-align: left;
    padding-left: 30px;
    font-size: 13px;
}

.Planes__Plan__Coberturas__Item{
    position: relative;
    margin-bottom: 10px;
}

.Planes__Plan__Coberturas__Item::after
{
    content: '';
    position: absolute;
    top: -5px;
    left: -33px;
    width: 25px; /* Ajusta según sea necesario */
    height: 25px; /* Ajusta según sea necesario */
    background-image: url('/img/check.svg'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.Planes__Plan__Contratar__Btn{
    width: 230px;
    height: 40px;
    border-radius: 19px;
    background-color:  var(--color-primario);
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.Planes__Plan__Contratar__Descripcion
{
    font-size: 12px;
    line-height: 20px;
    color: var(--color-secundario);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #041B2D;
    color: #fff;
    padding: 5px 0;
    font-size: 14px;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.footer-item {
    margin: 10px;
}

.footer-content a {
    color: #17a2b8;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}