.main {
  margin-top: 80px;
  flex: 1;
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #041B2D;
  height: 80px;
  position: fixed; 
  width: 100%; 
  top: 0; 
  z-index: 999; 
}

.content-pricipal{
  display: flex;
  flex-direction: column;
  margin: 0px 50px 50px 50px;
}

.content-pricipal h1{
  margin: 50px 0px 20px 0px;
  color:#041B2D;
  /* font-weight: bold; */
}

.subtitle{
 font-size: 18px;
 color: #041B2D;
}

.title-polizas{
  margin-top: 50px;
  color: #17a2b8;
  font-weight:bold;
}

.content-title-and-button{
  display: flex;
  justify-content: space-between;
}
.content-button{
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 16px;
}


.content-title-and-button button {
  background-color: #041B2D;
  color: #fff;
  border:#041B2D 2px solid;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  text-align: center;
  border-radius: 30px ;
  padding: 10px 80px;
  font-size: 15px;
}

.content-title-and-button button:hover {
  background-color: #fff;
  color: #041B2D;
}


.title-siniestros{
  margin-top: 50px;
  color: #17a2b8;
  font-weight:bold;
}

.poliza-header {
  justify-content: space-between;
  padding-left: 19px;
  padding-right: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-weight: bold;
  border: 1px solid #ccc; /* Borde del mensaje */
  border-radius: 8px 8px 0 0;
  background-color: #e0f7fa;
}

.poliza-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.poliza-header p,
.poliza-header-content p {
  flex: 1; /* Para que ocupen el mismo ancho */
  margin: 0; /* Eliminar márgenes predeterminados */
  text-align: center; /* Alinear el texto al centro */
  padding: 8px; /* Añadir un poco de espacio alrededor del texto */
  color: #041B2D;
}

.content-polizas{
  margin-left: 1%;
  margin-right: 1%;
}

.content-siniestros{
  margin-left: 1%;
  margin-right: 1%;
}

.collapsing {
  transition: height 0.2s ease-in-out;
}

.bien-asegurado__listado{
  flex-wrap: wrap;
  display: flex;
}

.bien-asegurado__listado__item
{
  width: 25%;
  display: flex;
}

.bien-asegurado__listado__item__strong{
  margin-right: 4px;
}

.coberturas__listado
{
  display: flex;
  list-style-type: none; 
  flex-wrap: wrap;
}

.coberturas__listado__item{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.infoSiniestro{
  display: flex;
  list-style-type: none; 
  align-items: center;
}

.infoSiniestro__item{
  margin: 10px;
}

.infoSiniestro__item__TipoSiniestro{

  display: flex;
  justify-content: center;
  align-items: center;
}

.infoSiniestro__item__TipoSiniestro__Item{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.imagenes
{
  margin-bottom: 10px;
}

.imagenes__Siniestro{
  display: flex;

}

/* .imagenes__Siniestro__Container
{

} */



.imagenes__Siniestro__Container {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 70px;
  margin: 10px;
  cursor: pointer;
}

.imagenes__Siniestro__Container__imageContainer{
  width: 130px;
  height: 70px;
}

.imagenes__Siniestro__Container__img{
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Color de fondo inicial transparente */
  transition: background-color 0.3s ease; /* Transición suave */
  pointer-events: none; /* Para que no interfiera con eventos del mouse */
}

.imagenes__Siniestro__Container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo gris oscuro con transparencia al hacer hover */
}

.imagenes__Siniestro__Container__img__expandida {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  max-height: 70%;
  z-index: 2;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.imagenes__Siniestro__Container__imageContainer__CloseIcon{
  position: absolute;
  top: 10px; /* Ajusta la posición según sea necesario */
  right: 10px; /* Ajusta la posición según sea necesario */
  z-index: 1; /* Asegura que el icono esté sobre la imagen */
}

.imagenes__Siniestro__Container__imageContainer__CloseIcon__expandida {
  position: absolute;
  top: 10px; /* Mantén la misma posición que cuando no está expandida */
  right: 10px; /* Mantén la misma posición que cuando no está expandida */
  z-index: 3; /* Asegura que el icono esté sobre la imagen expandida */
}

.no-siniestros {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: #555; /* Color de texto gris oscuro */
  background-color: #f0f0f0; /* Color de fondo gris claro */
  padding: 20px; /* Espaciado interno */
}

.accordion-item{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

