
.wrapper {
    padding: 20px;
    max-width: 2000px;
    margin:90px auto 50px auto;
}

.btn-volver {
    text-decoration: none; 
    color:#041B2D; 
    transition: color 0.3s;
    font-weight: bold;
  }

  .btn-volver:hover {
    color: #17a2b8; 
  }

.siniestro-section, .vehicle-section,
.incident-time-section, .additional-details-section,.upload-section {
    margin-bottom: 40px;
    color:#041B2D;
}
.incident-type-section{
    color:#041B2D;
}
.siniestro-section h1{
    font-size: 35px;
    color:#17a2b8;
}

.siniestro-section p{
    font-size: 20px;
    color: #041B2D;
}

select {
    width: 100%;
    max-width: 500px;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: "Blinker", sans-serif;
    margin-top: 5px;
}

.location-section label{
    margin-bottom: 5px;
}
#additional-details{
    width: 100%;
    max-width: 480px;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: "Blinker", sans-serif;
}

#calle {
    width: 100%; 
    max-width: 310px; 
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: "Blinker", sans-serif;
}

#altura {
    width: 100%; 
    max-width: 125px;
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: "Blinker", sans-serif;
}

.calle-altura-container {
    display: flex;
    max-width: 700px;
    margin-bottom: 20px;
}

.input-container {
    margin-right: 20px;
    flex: 1;
}

.input-container label {
    display: inline-block;
    width: 60px;
}

.input-container input {
    width: 100%; 
    max-width: 300px; 
    border: 1px solid #c5c5c5;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    font-family: "Blinker", sans-serif;
}

/* Estilo para las cards de incidentes */
.incident-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; 
    padding: 20px 20px 20px 0px; 
}

.incident-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    color:#041B2D;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.incident-card i {
    font-size: 2em;
    margin-bottom: 10px;
}

/* icono svg */
.incident-card .icon {
    width: 2.5em;
    height: 2.5em; 
}

.incident-card .icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor; 
}
/* */

.incident-card:hover {
    background-color: #e0f7fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.incident-card.selected {
    background-color: #b3e5fc;
    border-color: #0288d1;
}

/*  */

.upload-section {
    position: relative;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#incident-location {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#incident-date {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#incident-image {
    margin-top: 10px;
}

.emergency-section, .involved-section {
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
}

.question {
    margin-right: 20px; 
}

.radio-options {
    display: flex; 
    align-items: center; 
}

.radio-options label {
    margin-right: 10px; 
    white-space: nowrap;
}

/* boton centro */
/* .btn-registrarSiniestro {
    background-color: #041B2D;
    color: #fff;
    border: #041B2D 2px solid;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    text-align: center;
    border-radius: 30px;
    padding: 10px 30px; 
    font-size: 15px;
    display: block; 
    margin: 0 auto; 
} */

/* boton derecha */
/* .btn-registrarSiniestro {
    background-color: #041B2D;
    color: #fff;
    border: #041B2D 2px solid;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    text-align: center;
    border-radius: 30px;
    padding: 10px 30px; 
    font-size: 15px;
    display: block; 
    margin-left: auto; 
    margin-bottom: 20px; 
} */

/* boton izquierda */
.btn-registrarSiniestro {
    background-color: #041B2D;
    color: #fff;
    border: #041B2D 2px solid;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    text-align: center;
    border-radius: 30px;
    padding: 10px 30px; 
    font-size: 15px;
    display: block; 
    margin-right: auto; 
    margin-top: 50px;
}


.btn-registrarSiniestro:hover {
    background-color: #fff;
    color: #041B2D;
}

